@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

main {
    max-width: 480px;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
}

h1 {
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input + button {
    margin-left: 10px;
}

button {
    border: 1px solid #ddd;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
}

ul > li {
    margin-bottom: 20px;
}
ul > li > button {
    padding: 5px;
    background: #e74c3c;
    color: white;
    border-color: transparent;
}